body{
	 background-color: #d6b0f7;
	}
	
h1{
	color:white;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	}
	
p{
	text-align: center;
	font-size: 17px;
	
	}

a:link{
	text-decoration: none;
	color:#cd43fe;
	}
		
a:visited{
	color:#e949bb;
	}
	
a:hover{
	color:#cc00ff;
	}
	
.boxed{
	border: 2px dotted black;
	padding-top:10px;	
	padding-left:180px;
	padding-right:180px;
	padding-bottom: 10px;
	margin-left:60px;
	margin-right:60px;
	margin-bottom:40px;
}
	

	

	
	