body{
	background-color: #000000;
	color: #c7c7c7;
	}
	
.boxed {
	border: 2px solid #c7c7c7;
	padding: 20px
}

a:link{
	text-decoration: none;
	color:#cb0b1d;
	}
		
a:visited{
	color:#8d7779;
	}
	
img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
audio {
	display: none;
}